{% comment %}Pull out slides{%endcomment %}

## Presentations

<ul>
{% for entry in site.data.presentations.presentations %}

{% for tag in entry.tags %}
   {% if page.tags contains tag %}
      {% if entry.url %}
<li><a data-fancybox data-type="iframe" data-src="{{ entry.url }}" href="javascript:;">
 <b>{{ entry.title }}</b> by {{ entry.presenter }} at {{ entry.venue }} ({{entry.date}})
</a>
</li>
      {% else %}
<li><a data-fancybox data-type="iframe" data-src="//www.slideshare.net/slideshow/embed_code/key/{{ entry.slideshare }}" href="javascript:;">
 <b>{{ entry.title }}</b> by {{ entry.presenter }} at {{ entry.venue }} ({{entry.date}})
</a>
</li>
      {% endif %}
      {% break %}
   {% endif %}
{% endfor %}

{% endfor %}
</ul>

