{% assign protocol = site.data.protocols[include.sop] %}

<h2>Equipment list</h2>
File: {{ include.sop }}

{% for entry in equipment.categories %}
<h2>{{ entry.category_name }}</h2>
<ul id="equipment" class="list">
    {% for item in entry.items %}
    <li class="item">
        {{item.name}}
        <ul class="sublist">
            <li class="field">Cat No.: {{item.catalog}}</li>
            <li class="field">Supplier: {{item.supplier}}</li>
            <li class="field">Cost: {{item.cost}}</li>
            <li class="field">Number of reactions: {{item.reactions}}</li>
            <li class="field">Number required: {{item.required}}</li>
            <li class="field">Rationale: {{item.rationale}}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endfor %}
