<!DOCTYPE html>
<html>
<head>
    {% include head_document.html %}
    <link rel="stylesheet" href="/css/document.css">
    <link rel="stylesheet" href=/css/tables.css">
</head>
<body>
<div class="page">
    {% include topnav_document.html %}
    
    <!-- Page Content -->
    <div class="container">
        <div id="main">
            <!-- Preamble Column -->
            <div>
                <img style="float: left; width: 192px; height: 252px; margin: 0px 15px 15px 0px;" src="/images/logo-sticker.png" />
                <div>
                    <h1>{{ page.title_text }}</h1>
                    <p>Document: {{ page.document_name }}</p>
                    <p>Creation Date: {{ page.creation_date }}</p>
                    <p>Revision Date: {{ page.revision_date }}</p>
                    <p>Forked from: {{ page.forked_from }}</p>
                    <p>Author: {{ page.author }}</p>
                </div>
            </div>
            <div style="clear: left;">
                {{content}}
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
